body {
    font-family: 'Press Start 2P', cursive;
    background-color: #FFE6A9; /* fondo principal suave */
    color: #5A9287; /* texto principal */
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #DEAA79; /* color durazno */
    padding: 1rem;
    text-align: center;
    color: #fff;
  }
  
  nav a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 2rem;
  }
  
  h1, h2, h3 {
    color: #5A9287;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin: 0.5rem 0;
  }
  
  a {
    text-decoration: none;
    color: #5A9287;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #5A9287;
    color: #fff;
    font-size: 0.75rem;
  }
  